body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    font-family: 'Microsoft JhengHei', 'sans-serif';
}

    body h2 {
        margin: 10px 0;
    }

/* Table 設定 */
table {
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0px 0px;
}

    table.list {
        border: 1px solid #EEEEEE;
        width: 100%;
        margin: 20px auto;
    }

    table.form {
        border: 1px solid #EEEEEE;
        width: 100%;
        margin: 20px auto;
    }

    table.list .list_function {
        vertical-align: top;
        padding: 10px 10px 0;
    }

    table.list .list_content {
        vertical-align: top;
        padding: 10px;
    }

    table.list .list_page {
        vertical-align: top;
        text-align: left;
        padding: 0 10px;
        margin: 0;
    }

    table.list .list_content table {
        width: 100%;
        font-size: 12px;
    }

td {
    vertical-align: middle;
}

.TableTR_BR {
    border: 1px solid #EEEEEE;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px;
}

.SpanKeyin {
    color: red;
    font-size: 15px;
}

.View_1_1 {
    width: 150px;
    height: 30px;
    background-color: #EEEEEE;
    text-align: right;
}

.View_1_1_1 {
    width: 90px;
    height: 30px;
    background-color: #EEEEEE;
    text-align: right;
}

.View_1_2 {
    background-color: White;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 90%;
    padding-left: 3px;
}

    .View_1_2:hover { /*置換底色代表選過*/
        background: #fefed5;
        text-decoration: none;
        border-radius: 10px;
    }

.View_1_3 {
    background-color: #EEEEEE;
    text-align: center;
    width: 150PX;
}

.View_1_3_1 {
    background-color: #EEEEEE;
    text-align: center;
    width: 100PX;
}

.View_1_4 {
    background-color: #EEEEEE;
}

.View_1_5 {
    background-color: #33CC33;
}

.View_1_6 {
    background-color: #fff;
    text-align: center;
    height: 40px;
}

    .View_1_6:hover { /*置換底色代表選過*/
        background-color: #EEF7FF;
    }

.View_1_7 {
    background-color: #EEEEEE;
    text-align: center;
    height: 30px;
}

.View_1_8 {
    background-color: #d6deff;
}

    .View_1_8:hover {
        background-color: #EEEEEE;
    }

.View_1_9 {
    background-color: White;
    text-align: center;
    height: 30PX;
}

    .View_1_9:hover { /*置換底色代表選過*/
        background-color: #EEF7FF;
    }

.View_1_10 {
    background-color: #EEEEEE;
    text-align: left;
    height: 30PX;
}

    .View_1_10:hover { /*置換底色代表選過*/
        background: #ffc;
        text-decoration: none;
        border-radius: 10px;
    }

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.imagbox img {
    width: auto;
    height: 130px;
    display: inline-block;
    margin: 5px 8px;
}

.btn_area {
    margin: 15px auto;
    text-align: center;
}

.k-textbox {
    width: 100% !important;
    max-width: 250px !important;
}

.k-button {
    padding: 3px 10px !important;
    text-decoration: none !important;
    font-size: 13px !important;
}

    .k-button.delete {
        color: #fff;
        background-image: none,linear-gradient(to bottom,#fe5151 0,#fc1212 100%);
    }

        .k-button.delete:hover, .k-button.delete:focus {
            color: #fff;
            border-color: #bf0c0c;
            background: #bf0c0c;
        }

select.form-control {
    display: inline-block;
    padding: 3px 8px;
    height: 28px;
    max-width: 150px;
    font-size: 12px;
}

#validatecode {
    cursor: pointer;
    display: inline-block;
}

.validatecode {
    max-width: 120px !important;
}
